.card:hover {
    transition: .3s;
    box-shadow: 2px 2px 20px black;
    transform: translateY(-2rem) scale(1.08);
}
.card {
    transition: .3s;
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 41rem;
    border-radius: 5px;
    margin: 1rem;
    background-color: var(--background);
    overflow: hidden;

}
.card-content p {
    border-radius: 2rem;
    color: grey;
    width: fit-content;
}
.card-content {
    padding: 1rem;
}
